input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid rgba($text-link-blue-active, 0.2);
	background: $white;
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: $text-base-color;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

#searchmodalbg {
  background-color: $white;
}

.svg-icon.clicked {
    /* Example: scale transformation for a "pop" effect */
    transform: scale(0.9);
    transition: transform 0.01s;
}

.button-style {
  background-color: $light; // Light background color
  color: $text-base-color; // Text color
  font-family: $sans-family; // Sans-serif font
  font-size: $medium-font-size; // Medium font size
  font-weight: $normal-weight; // Normal font weight
  border: none; // No border
  border-radius: 4px; // Slightly rounded corners
  padding: 10px 15px; // Padding
  margin: $spacing-half; // Margin based on spacing
  cursor: pointer; // Cursor changes on hover
  transition: background-color 0.3s, color 0.3s; // Smooth transition for hover effects

  &:hover {
    background-color: $smoke; // Change background on hover
    color: $text-link-blue; // Change text color on hover
  }

  &:active {
    background-color: $gray; // Background for active state
    color: $text-link-blue-active; // Text color for active state
  }

  @include media-query($on-mobile) {
    font-size: $small-font-size; // Adjust font size for mobile
  }
}
