<div id="searchModal" style="display:none; position:fixed; z-index:1; left:0; top:0; width:100%; height:100%; overflow:auto; background-color:rgba(0,0,0,0.4); padding-top:60px;">
    <div id="searchmodalbg" style="margin:5% auto; padding:20px; border:1px solid #888; width:80%;">
        <!-- Search Bar -->
        <div style="display: flex; align-items: center; gap: 10px;">
            <input type="text" id="searchQuery" style="width: 90%;" placeholder="Enter semantic search query ..." style="">
            <button id="searchButton" style="border: none; background: none;">
                <img src="/assets/enter.svg" alt="Search" style="width: 24px; height: 24px; cursor: pointer;">
            </button>
            <button onclick="document.getElementById('searchModal').style.display='none'" style="border: none; background: none;">
                <img src="/assets/cross.svg" alt="Close" style="width: 24px; height: 24px; cursor: pointer;">
            </button>
        </div>

        <!-- Results Display Area -->
        <div id="searchResults"></div>
    </div>
</div>

<!-- Trigger/Open The Modal -->
<button id="openSearchModal" style="max-width: 12%; border: none; background: none;">
    <img src="/assets/search.svg">
</button>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('searchButton').addEventListener('click', performSearch);
        document.getElementById('searchQuery').addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                performSearch();
            }
        });
        document.getElementById('openSearchModal').addEventListener('click', function() {
            document.getElementById('searchModal').style.display = 'block';
            document.getElementById('searchModal').focus();
        });

        document.addEventListener('keydown', function(event) {
            if (event.key === 'Escape') {
                document.getElementById('searchModal').style.display = 'none';
            }
        });
    });

    function performSearch() {
        var query = document.getElementById('searchQuery').value;
        var searchUrl = `{{ site.url }}/.netlify/functions/search?q=${encodeURIComponent(query)}`;

        fetch(searchUrl)
            .then(response => response.json())
            .then(data => {
                displayResults(data);
            })
            .catch(error => {
                console.error('Error:', error);
                displayResults(["Error: Could not retrieve results"]);
            });
    }

    function displayResults(results) {
    var resultsDiv = document.getElementById('searchResults');
    resultsDiv.innerHTML = '';
    results.forEach(result => {
        var para = document.createElement("p");

        var highlightSpan = document.createElement("span");
        highlightSpan.style.backgroundColor = "rgba(255, 226, 130, 0.5)";
        highlightSpan.style.padding = "2px";
        highlightSpan.textContent = result.sentence;

        para.appendChild(highlightSpan);

        var similaritySpan = document.createElement("span");
        similaritySpan.style.fontFamily = 'monospace';
        similaritySpan.textContent = ` [${result.similarity.toFixed(2)}]`;

        para.appendChild(similaritySpan);

        var highlightLink = document.createElement("a");
        highlightLink.href = `{{ site.url }}/books/${result.isbn}#${result.index}`;
        highlightLink.textContent = " View Highlight";
        highlightLink.target = "_blank";
        para.appendChild(highlightLink);

        resultsDiv.appendChild(para);
    });
}
</script>
